.result {
    background-color: #cfcfcf;
    margin: 5px;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}

.result__value {
    font-size: 22px;
    font-weight: bold;
}