.header {
    color: #5d1515;
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: #cfcfcf;
    border: 1px solid #000000;
    border-radius: 10px;
}

.header__clock {
    display: flex;
    font-size: small;
    color: #000000;
    justify-content: right;
    margin: 5px;
    padding: 5px;
}