.form {
    text-align: center;
}

.form__field {
    background-color: #cfcfcf;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.form__header {
    font-size: 20px;
    font-weight: bold;
}

.form__label {
    line-height: 2;
}

.form__button {
    margin: 20px auto;
    padding: 10px;
    display: block;
    color: #ffffff;
    background-color: #858585;
    border-radius: 10px;
}

.form__button:hover {
    background-color: hsl(0, 0%, 66%);
}

.form__button:active {
    background-color: hsl(0, 0%, 35%);
}