.footer {
    font-size: 12px;
    font-style: italic;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: #cfcfcf;
    text-align: center;
}